/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: "Segoe UI", sans-serif;
    background: #f0f7f3;
    color: #333;
}

/* Top Bar */
.top-bar {
    background: #1b5e20;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

nav a.active,
nav a:hover {
    border-bottom: 2px solid #c8e6c9;
}

/* Hero Section */
.hero {
    height: 60vh;
    background-image: url("https://media.istockphoto.com/photos/close-up-coins-in-glass-jar-for-giving-and-donation-picture-id622065910?k=6&m=622065910&s=612x612&w=0&h=KDlUvvuM617yUg4Hm7jytPtq44G-i26wYFB-9Wd4NPY=");

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.hero h1 {
    font-size: 48px;
}

.hero p {
    font-size: 18px;
    margin-top: 15px;
}

/* About Section */
.about-section {
    padding: 60px 10%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
}

/* Cards */
.card {
    background: white;
    padding: 25px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.1);
    transition: transform 0.4s;
}

.card:hover {
    transform: translateY(-10px);
}

.card h2 {
    color: black;
    margin-bottom: 15px;
}

/* Values */
.values {
    background: #a132324a;
    padding: 50px 20px;
    text-align: center;
}

.values-grid {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 25px;
}

.value-box {
    padding: 20px 30px;
    background:  #d44a4a4a;
    border-radius: 30px;
    font-weight: bold;
    animation: float 3s ease-in-out infinite;
}

/* Footer */
footer {
    background: rgb(80, 34, 2);
    color: white;
    text-align: center;
    padding: 15px;
}

/* Animations */
@keyframes fadeIn {
    from { opacity: 0; transform: translateY(20px); }
    to { opacity: 1; transform: translateY(0); }
}

@keyframes slideLeft {
    from { opacity: 0; transform: translateX(-50px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes slideRight {
    from { opacity: 0; transform: translateX(50px); }
    to { opacity: 1; transform: translateX(0); }
}

@keyframes zoomIn {
    from { opacity: 0; transform: scale(0.8); }
    to { opacity: 1; transform: scale(1); }
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-8px); }
}

/* Animation Classes */
.fade-in {
    animation: fadeIn 1.2s ease forwards;
}

.delay {
    animation-delay: 0.5s;
}

.slide-left {
    animation: slideLeft 1s ease forwards;
}

.slide-right {
    animation: slideRight 1s ease forwards;
}

.zoom-in {
    animation: zoomIn 1s ease forwards;
}
