body{
  font-family:"Segoe UI",sans-serif;
  background:
    linear-gradient(rgba(0,0,0,.6),rgba(0,0,0,.6)),
    url("https://www.ourlittleroses.org/wp-content/uploads/2021/11/larm-rmah-AEaTUnvneik-unsplash-scaled.jpg");
  background-size:cover;
  background-position:center;
  min-height:100vh;
  text-align:center;
  padding:40px;
  color:white;
}

.title{
  font-size:38px;
}

.subtitle{
  margin-bottom:40px;
  opacity:.9;
}

/* JOURNEY */
.journey{
  max-width:600px;
  margin:auto;
  backdrop-filter:blur(8px);
}

/* STEP */
.step{
  background:rgba(255,255,255,.15);
  padding:25px;
  border-radius:18px;
  margin-bottom:25px;
  box-shadow:0 15px 35px rgba(0,0,0,.4);
}

.step h3{
  margin-bottom:15px;
}

/* CLOSET */
.closet{
  display:flex;
  justify-content:center;
  gap:15px;
}

.closet div{
  padding:15px 20px;
  border-radius:15px;
  background:rgba(255,255,255,.2);
  cursor:pointer;
  transition:.3s;
}

.closet .selected{
  background:linear-gradient(135deg,#ff9800,#ff5722);
  box-shadow:0 0 20px rgba(255,152,0,.6);
}

/* CONDITION */
input[type=range]{
  width:80%;
}

#conditionText{
  margin-top:10px;
}

/* IMAGE */
#preview{
  margin-top:15px;
  width:220px;
  display:none;
  border-radius:15px;
  box-shadow:0 15px 40px rgba(0,0,0,.6);
}

/* IMPACT */
.impact{
  background:linear-gradient(135deg,#7da20100,#8d6b2216);
}

/* BUTTON */
.donate-btn{
  margin-top:30px;
  padding:15px 45px;
  border:none;
  border-radius:35px;
  background:linear-gradient(135deg,#938010,#c88f00);
  color:black;
  font-size:18px;
  cursor:pointer;
  box-shadow:0 20px 40px rgba(0, 0, 0, 0.6);
}.thank-you{
  display:none;
  margin-top:40px;
  padding:30px;
  border-radius:20px;
  background:linear-gradient(135deg,#5b4508,#565206);
  box-shadow:0 20px 40px rgba(0,0,0,.5);
  color:white;
  font-size:20px;
}

