body {
  font-family: Arial, sans-serif;
  text-align: center;
  padding: 20px;
 background:
    linear-gradient(rgba(0, 0, 0, 0.921),rgba(0, 0, 0, 0.312)),
    url("https://www.ourlittleroses.org/wp-content/uploads/2021/11/larm-rmah-AEaTUnvneik-unsplash-scaled.jpg");
  background-size:cover;

  position: relative;
  overflow-x: hidden;
}
p{
  color: #e7e4da;
}
body::before {
  content: "";
  position: fixed;
  inset: 0;

  /* Blur + soft light overlay */
  background: rgba(14, 1, 1, 0);
  backdrop-filter: blur(8px);

  z-index: -1;
}
.story-card {
  backdrop-filter: blur(4px);
}

.title {
  color: #e7e4da;
}

.subtitle {
  margin-bottom: 20px;
}

.filters button {
  margin: 5px;
  padding: 10px 18px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background: #e0e0e0;
  transition: 0.3s;
}

.filters button:hover,
.filters .active {
  background: #d6b80f;
  color: white;
}

.stories {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.story-card {
  background: white;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 5px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s;
}

.story-card:hover {
  transform: translateY(-5px);
}

.story-card img {
  width: 100%;
  border-radius: 12px;
}

blockquote {
  font-style: italic;
  margin: 15px 0;
}

audio {
  width: 100%;
  margin-bottom: 10px;
}

.helped-btn {
  background: #ffebee;
  border: none;
  padding: 10px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 14px;
}

.helped {
  background: #e53935;
  color: white;
}
